@use "../abstracts/variables";
@use "../abstracts/placeholders";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variables.$background-color;
    font-family: variables.$font-stack;
    line-height: 1.5rem;
}

h1 {
    font-size: 1.8rem;
    margin: auto 2rem;

    a {
        color: variables.$light-text;
        text-decoration: none;
    }
}

h2 {
    @extend %centermargin;
}