@use "../abstracts/variables";
@use "../abstracts/placeholders";


body {
    background-color: variables.$background-color;
    font-family: variables.$font-stack;
}

h1 a {
    color: variables.$light-text;
}

h2,
h3 {
    @extend %centermargin;
}