@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

/* header */
header {
    background-color: variables.$header-color;
    @include mixins.grid;
    height: 3rem;
}

/* bigger screens */
@media (min-width: variables.$breakpoint) {
    header {
        height: 5rem;
        @include mixins.grid(3);

        h1 {
            margin: auto;
        }
    }
}