@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

/* header */
header {
  @include mixins.grid(3rem, 2);
    background-color: variables.$header-color;
}

/* navigation */
nav {
    position: absolute;
    right: 0;
    top: 0;
    background-color: variables.$header-color;
    width: 100%;
    display: none;
    z-index: 10000;
  
    ul {
      text-align: center;
    }
  
    li {
      list-style-type: none;
      padding: variables.$default-padding;
    }
  
    a {
      color: variables.$light-text;
      text-decoration: none;
    }
  }

/* footer */
footer {
    background-color: variables.$header-color;
    color: variables.$light-text;
    padding: variables.$default-padding;
    @extend %centermargin;
  }