@use "../abstracts/variables";
@use "../abstracts/mixins";

/* media queries för större skärmar */
@media (min-width: variables.$breakpoint) {
    header {
        @include mixins.grid(5rem, 3);

        h1 {
            margin: auto;
        }
    }

    h2 {
        font-size: 2rem;
    }

    /* nav-buttons */
    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    /* nav-menu on bigger screens */
    nav {
        display: block !important;
        position: static;
        grid-column: 2/4;
        box-shadow: 0;
        width: auto;
        margin: auto;
        justify-self: end;

        ul {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    /* index */
    .image-box {
        @include mixins.grid(auto, 2);
        max-width: variables.$breakpoint;
        margin: 1.5rem auto;
    }

    /* sass-page */
    .sass-content {
        max-width: variables.$breakpoint;
        padding: 1rem 3rem;
    }
}

/* media queries för mörkt tema */
@media (prefers-color-scheme: dark) {
    body {
        background-color: variables.$dark-background;
        color: variables.$light-text;

        header,
        footer,
        .open,
        .close,
        nav {
            background-color: variables.$dark-header-color;
        }
    }

    .button {
        @include mixins.button(variables.$dark-header-color, variables.$white, variables.$default-padding, 0 auto, variables.$max-button, center, 1.2rem, true);
    }

    .sass-content {
        background-color: variables.$text-background;
        border-color: variables.$light-text;
    }

    img {
        opacity: 80%;
    }
}