@use "../abstracts/variables";
@use "../abstracts/mixins";

/* media queries för större skärmar */
/* nav-menu on bigger screens */
@media (min-width: variables.$breakpoint) {
    header {
        height: 5rem;
        @include mixins.grid(3);

        h1 {
            margin: auto;
        }
    }

    nav {
        display: block !important;
        position: static;
        grid-column: 2/4;
        box-shadow: 0;
        width: auto;
        margin: auto;
        justify-self: end;

        ul {
            display: flex;
            flex-wrap: nowrap;
        }
    }

    /* index */
    .image-box {
        @include mixins.grid;
        max-width: variables.$breakpoint;
        margin: 1.5rem auto;
    }

    /* sass-page */
    .sass-content {
        max-width: variables.$breakpoint;
        padding: 1rem 3rem;
    }
}

/* media queries för mörkt tema */
@media (prefers-color-scheme: dark) {
    body {
        background-color: variables.$dark-background;
        color: variables.$light-text;

        header,
        footer,
        .open,
        .close,
        nav {
            background-color: variables.$dark-header-color;
        }
    }

    .sass-content {
        background-color: variables.$text-background;
        border-color: variables.$light-text;
    }
}