@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

/* menu icon */
/* hamburgermeny */
.menu-btn {
    justify-self: end;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.open {
    background-color: variables.$header-color;
    padding: 0 1rem;
}

.menu-icon {
    margin-right: 0.625rem;
}

/* the three bars that makes the hamburger-icon */
.bars {
    @include mixins.menu-icon(block, 20px, 3px, variables.$light-text, 5px 0)
}

.menu-text {
    font-size: 1.2rem;
    color: variables.$light-text;
}

/* menybutton, close */
.close {
    @extend .open;
    padding-top: variables.$default-padding;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    @extend .cross1;
    transform: rotate(135deg);
    top: -3px;
}

/* knapp på index-sidan */
.button {
   @include mixins.button(variables.$header-color, variables.$light-text, variables.$default-padding, 0 auto, variables.$max-button, center, 1.2rem, false) 
}