/* index-page styles */
@use "../abstracts/variables";
@use "../abstracts/placeholders";
@use "../abstracts/mixins";

.images {
    @extend %box-shadow;
    width: 80%;
    margin: 0 auto 0.8rem;
}

.image-box {
    @extend %centermargin;
    
    p {
        @extend .images;
        box-shadow: none;
    }
}

/* style för större skärmar */
@media (min-width: variables.$breakpoint) {
    .image-box {
      @include mixins.grid;
      max-width: variables.$breakpoint;
      margin: 1.5rem auto;
    }
  }