/* index-page styles */
@use "../abstracts/placeholders";

.images {
    @extend %box-shadow;
    width: 80%;
    margin: 0 auto 0.8rem;
}

.image-box {
    @extend %centermargin;
    
    p {
        @extend .images;
        box-shadow: none;
    }
}