@use "./abstracts/variables";
@use "./abstracts/placeholders";
@use "./abstracts/mixins";
@use "./abstracts/keyframes";

/* index-page styles */
.images {
    @extend %box-shadow;
    width: 80%;
    margin: 0 auto 0.8rem;
}

.image-box {
    @extend %centermargin;

    p {
        @extend .images;
        box-shadow: none;
        text-align: left;
    }
}

/* sass discussion page */
.sass-content {
    @include mixins.textBox(90%, 0 1rem 1rem, 1rem auto, 2px solid rgb(137, 137, 137));
    @extend %box-shadow;
}

/* animation page */
#A-h2 {
    font-size: 2rem;
    margin: 2rem;
    animation: textShadow 6s 4s forwards linear;
}

.box {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 4rem auto;
    background-color: variables.$header-color;
    animation: moveIn 4s forwards linear;
}

.golf-animation {
    @include mixins.textBox(65%, 1rem, 2rem auto);
    background-color: lighten(variables.$header-color, 40%);
    text-align: center;
    animation: shadowEffect 3s infinite alternate;

    .golfclub,
    .golfball {
        animation: none;
    }

    .golfball {
        transform: translate(-190px, -30px);
    }

    &.animate {
        .golfclub {
            animation: rotateObject 6s infinite alternate linear;
        }

        .golfball {
            animation: moveBall 6s 3.43s infinite alternate linear;
        }
    }
}

.a-btn {
    @include mixins.button(variables.$header-color, variables.$light-text, 1rem 2rem, 2rem auto, variables.$max-button, center, 1.2rem, false);
    transform: scale(1);
    transition: transform 1s ease, background-color 1s ease;

    &:hover {
        transform: scale(1.25);
        background-color: lighten(variables.$header-color, 40%);
    }
}