/* colors */
$header-color: #2F4156;
$primary-color: lighten(#2F4156, 50%);
$background-color: #F5EFEB;
$black-text: #000;
$light-text: lighten(#F5EFEB, 10%);

/* motsatsfärger till mörkt tema */


/* fonts */
$font-stack: 'Arial', sans-serif;