//mixin för grid
@mixin grid ($columns: 2) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin textBox($width, $padding, $margin, $border: 0) {
    width: $width;
    margin: $margin;
    padding: $padding;

    @if $border != 0 {
        border: $border;
    }
}