@use "./variables";

//mixin för grid
@mixin grid ($height, $columns: 2) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    height: $height;
}

//mixin för textbox
@mixin textBox($width, $padding, $margin, $border: 0) {
    width: $width;
    margin: $margin;
    padding: $padding;

    @if $border !=0 {
        border: $border;
    }
}
//mixin för knappar
@mixin button($bg-color, $text-color, $padding, $margin, $max-w, $textalign, $fontsize, $border: false) {
    @if $border ==true {
        background-color: $bg-color;
        color: $text-color;
        border: 2px solid $text-color;
        
        &:hover {
            background-color: transparent;
        }
    }

    @else {
        background-color: $bg-color;
        color: $text-color;
        border: none;

        &:hover {
            background-color: lighten($bg-color, 20%);
        }
    }

    padding: $padding;
    margin: $margin;
    max-width: $max-w;
    text-align: $textalign;
    font-size: $fontsize;
    cursor: pointer;
}

//mixin för hamburger-icon
@mixin menu-icon($display, $width, $height, $bg-color, $margin) {
    display: $display;
    width: $width;
    height: $height;
    background-color: $bg-color;
    margin: $margin;
}