/* variables */
/* colors */
$header-color: #2F4156;
$background-color: #F5EFEB;
$dark-text: #000;
$light-text: #f1edea;

/* motsatsfärger till mörkt tema */

/* fonts */
$font-stack: 'Arial', sans-serif;

/* sizes */
$full-width: 100%;

/* mixins */