/* variables */
/* colors */
$header-color: #2F4156;
$background-color: #F5EFEB;
$black: #000;
$light-text: #f1edea;

/* motsatsfärger till mörkt tema */
$dark-header-color: darken(#2F4156, 17%);
$dark-background: #505050;
$white: #fff;
$text-background: lighten(#505050, 10%);

/* fonts */
$font-stack: 'Arial', sans-serif;

/* default padding */
$default-padding: 1rem;

/* breakpoints */
$breakpoint: 50rem;